# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: publish
on:
  workflow_dispatch:

jobs:
  pack-and-publish-to-nuget:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Pack
      run: dotnet pack -c Release --verbosity normal
    - name: Publish NuGet package
      run: |
        foreach($file in (Get-ChildItem "${{github.workspace}}" -Recurse -Include *.nupkg)) {
            dotnet nuget push $file --api-key "${{secrets.NUGET_APIKEY}}" --source https://api.nuget.org/v3/index.json --skip-duplicate
        }

